---
layout: default
title: Documentation
pageKey: documentation
---

<h2 id="intro" class="my-3">Documentation</h2>
<p class="lead">
    Currently viewing documentation for version <b>{{site.version}}</b>. Other versions: <a href="./v4.x/documentation.html">4.x</a> &middot; <a href="./v3.x/documentation.html">3.x</a>
</p>

<hr class="section-divider" />

{% include documentation/alert.html %}

{% include documentation/confirm.html %}

{% include documentation/prompt.html %}

{% include documentation/dialog.html %}

{% include documentation/options.html %}

{% include documentation/locales.html %}

{% include documentation/jquery-functions.html %}

{% include documentation/instance-functions.html %}

{% include documentation/public-functions.html %}

{% include documentation/notes.html %}